/* SignIn page for css */

/* This is for the <h1> tag  Sign In */
.header {
  text-align: center;
  margin-top: 10px;
}

/* There are some inputs, buttons and <p>  tags all wrapping in <div> tags using the same className for "group" styling. */
.center {
  text-align: center;
}

/* my intention here is to center the  "Don't have an account" text however right not it is not working  */
.account {
  text-align: center;
}

input,
textarea {
  background-color: #fff;
}
/* this is the styling for the signin btn. */
.btn:hover {
 /* Rich this code affects every page that has buttons, maybe pick a different class name as .btn button is universal for all bootstrap buttons */
  /* background-color: blue; */
  color: #fff;
  border: 1px solid #fff;
  transition: right 2s ease-in-out 0.5s;
  text-align: center;
}

/* This is the styling for for the sign in with google button. */
.google:hover {
  background-color: blue;
  color: #fff;
  border: 1px solid #fff;
  transition: right 2s ease-in-out 0.5s;
  text-align: center;
}

/* This is to change the color of the "link text" below the google button. I think it needs to stand out more against the background. I know we are changing the background so still something to be considered.  */
.here .forgot 
{
  color: black;
}
