/* SignIn page for css */

/* This is for the <h1> tag  Sign In */
.header {
  text-align: center;
  margin-top: 10px;
}

/* There are some inputs, buttons and <p>  tags all wrapping in <div> tags using the same className for "group" styling. */
.center {
  text-align: center;
}

/* this is to center the text the following text, Don't have an accout */
.account {
  text-align: center;
  color: #f39b6d;
  font-size: bold;
}

input,
textarea {
  background-color: #fff;
}
/* this is the styling for the signin btn. */
/* This class name ".btn:hover" effects all buttons on website pages - 
  Instead create a class name and apply it to the button in order to make it not effect other buttons*/
.signIn_Btn:hover {
  background-color: gray;
  color: #fff;
  border: 1px solid #fff;
  transition: right 2s ease-in-out 0.5s;
  text-align: center;
}

/* This is the styling for for the sign in with google button. */
.google:hover {
  background-color: gray;
  color: #fff;
  border: 1px solid #fff;
  transition: right 2s ease-in-out 0.5s;
  text-align: center;
}

.Info {
  text-align: center;
}

.forgot {
  color: #f39b6d;
}

.signup {
  color: #f39b6d;
}

.signUp {
  color: #f39b6d;
}

.reset {
  color: #f39b6d;
}
