/* signUp page for css  */

/* This is for the <h1> tag reset */
.Reset {
  text-align: center;
  margin-top: 10px;
}

/* There are some inputs, buttons and <p>  tags all wrapping in <div> tags using the same className for "group" styling. */
.center {
  text-align: center;
}

/* my intention here is to center the  "Don't have an account" */
.page {
  text-align: center;
}

/* this is the styling for the signin btn. */
.btn:hover {
  background-color: gray;
  color: #fff;
  border: 1px solid #fff;
  transition: right 2s ease-in-out 0.5s;
  text-align: center;
}
