/* Pantry CSS - Zo */

/* Searh bar   - Zo*/
.input-group
{
    margin: 0 auto;
    padding-top: 20px;
    width: 70%;
}

.mobile 
{
    display: none;
}

.form-control
{
    border-radius: 10px !important;
    height: 40px;
    margin-top: 5px;
}

button
{
    margin:8px;
}

.align-Header
{
    text-align: left;
    color: white;
    padding-bottom: 20px;
    background-color: gray;
}

.align-text
{
    justify-content: center;
    width:40%;
    padding:10px;
    margin-left: 150px;
}


.btn-danger
{

    background-color: red;
    float: right;
}

/* Added to another class for the Renew button - Zo - will fix bug with AccessDenied*/
.btn-success
{

    float: right;
}

/* Color for Pantry button */
.pantry-color
{
    color: #FCFF4B;
    font-weight:bold;
    padding: 10px 0px 10px 0px;
}

/* Color for fridge button */
.fridge-color
{
    color: royalblue;
    font-weight:bold;
}

.Box-1
{
    height:300px;
    border-radius: 10px;
    margin:20px;
    padding:10px;
    overflow: scroll;
    /* Change background color within container */
    background-color: gray;
    width:100%;
}

.Box-2
{
    height:300px;
    border-radius: 10px;
    margin:20px;
    padding:10px;
    overflow: scroll;
    /* Change background color within container */
    background-color:gray;
    width:100%;
    
}

/* Change background color of card to white - Almonzo */
.card-body
{
    background-color: white;
}

/* Re-sizes search Bar based on deviced viewed - Zo */

@media only screen and (max-width: 600px) 
{
    .input-group 
    {
      width: 100%;
    }
    
        .align-text
        {
          width: 90%;
        }

  }

  .card-title
  {
      font-weight: bold;
      color:white;
  }

  .card
  {
      border-radius: 10px;
  }

  .card-body
  {
      width:100%;
      font-weight: bold;
      border-radius:10px;
      padding: 10px 0px 10px 10px;
     
  }

  .center-sug
  {
      color:red;
  }

  /* Media Query to change effects during screen size - Zo */
    @media only screen and (max-width: 600px) 
 {
    .align-Header
    {
        margin-left:170px;
    }

    .Box-1
    {
        margin: 0 auto; 
 
    }
 
    .Box-2
    {  
        margin: 0 auto;
    }
 
 

  }

  /* Media Query to change effects during screen size for Ipad - Zo */
  @media only screen and (min-width: 768px) 
  {

   .Box-1
   {
       margin: 0 auto; 

   }

   .Box-2
   {  
       margin: 0 auto;
   }


       .mobile 
       {
         display: block;

       }


   }


    /* Media Query to change effects during screen size - Zo */
    @media only screen and (min-width: 992px) 
 {

    .Box-1
    {
        margin: 0 auto; 
        
    }

    .Box-2
    {  
        margin: 0 auto;
    }

    
        .mobile 
        {
          display: block;

        }
      
  }