#uncontrolled-tab-example-tab-ingredientsList{
    background-color: white;
    color: black;
}

#uncontrolled-tab-example-tab-specialDiet{
    background-color: white;
    color: black;
}

#uncontrolled-tab-example-tab-allergy{
    background-color: white;
    color: black;
}