/* Stylesheet for Nav - Zo */

/* App Title */
h2
{
    text-align: center;
    color:white;
}

/* Color - code given by teammates - Zo*/
.title
{
    color: #EB6864;
}

/* NavBar akaTabs section - Zo */

.navbar
{
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-evenly;
}

/* Added a Google blue background to keep it plain per majority team request - Almonzo */
*
{
    background-color: #146eb4;
}